@import "_reset","_fonts";

body{
    background: #F4F1E9;
}

.lastest{
    &__list{
        width:70%;
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    &__item{
        &:nth-child(even){
            margin-left:50px;
            margin-top:20%;
        }
    }
    &__img{
        background-color: gold;
        height:600px;
        margin:0 auto;

        img{
            height:120%;
        }
    }
}
