@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color:#c64132;
  --secondary-color:#33c7ad;
  --title-color:#ddd9da;
  --white-color:#fff;
  --black-color:#111;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: "Space Grotesk", "Noto Sans KR", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--secondary-color);
  cursor: default;
}

ul, li {
  list-style: none;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  width: 100%;
}

.max-container {
  padding: 0 4%;
  margin: 0 auto;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

/* margin */
body {
  background: #F4F1E9;
}

.lastest__list {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.lastest__img {
  background-color: gold;
  width: 80%;
  margin: 0 auto;
}