@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color:#c64132;
  --secondary-color:#33c7ad;
  --title-color:#ddd9da;
  --white-color:#fff;
  --black-color:#111;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: "Space Grotesk", "Noto Sans KR", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--secondary-color);
  cursor: default;
}

ul, li {
  list-style: none;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

img {
  vertical-align: middle;
  display: block;
}

.max-container {
  padding: 0 4%;
  margin: 0 auto;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

main {
  position: relative;
  background-color: #111;
}
main.on {
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}
.main__title {
  text-align: center;
  font-family: "Montaga", serif;
  font-weight: 400;
  font-size: 10rem;
  font-style: italic;
  color: var(--white-color);
}
.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main__bg .bg-wrap {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.main__bg .bg-wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lastest {
  position: relative;
}
.lastest h2 {
  font-size: 10rem;
  font-weight: 500;
  text-align: center;
  padding: 10% 0;
}
.lastest__list {
  -webkit-perspective: 900px;
          perspective: 900px;
}
.lastest__item {
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 0 50px;
  padding-top: 28%;
  position: sticky;
  top: 100px;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
  -webkit-transform: rotateX(-2deg) scale(0.9);
          transform: rotateX(-2deg) scale(0.9);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.test {
  height: 70vh;
  background-color: yellow;
}

.wrap {
  position: relative;
  margin: 0 auto;
  background: #111;
}
.wrap.on {
  overflow: hidden;
}

.con01 {
  padding: 500px 0 1000px;
}
.con01 .inner {
  padding: 0 50px;
  color: #fff;
}
.con01 .listBox {
  -webkit-perspective: 900px;
          perspective: 900px;
}
.con01 .listBox .box {
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 30px 50px 0;
  height: 800px;
  position: sticky;
  top: 100px;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}